.projectsSection {
  padding: 0 16px;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.showAll {
  background: none;
  border: none;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
}

.carouselPage {
  display: flex;
  justify-content: center;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 16px;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.projectImage {
  width: 60px;
  height: 60px;
  border-radius: 25%;
}

.projectName {
  font-size: 14px;
  margin-top: 8px;
}

.projectDescription {
  font-size: 12px;
  margin-top: 4px;
}

.carouselDots {
  bottom: 0 !important;
}
